@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@900&display=swap');

*{
    box-sizing: border-box;
    
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    text-align: center;
    position: fixed;
    width: 100%;
    height: 120px;
    z-index: 100;
    padding-bottom: 100px;

}
.toggler{
    display: none;
}
.logo{
    display: flex;
    margin-left: 16px;

}

nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 16px;
    left :-100%;
    transition:all 0.5s;
    list-style: none;
    background: #ffffff;
    margin-top: 10px;
}

nav li{
    margin-bottom: 16px;
    margin-left: 16px;
}

nav a{
    text-decoration: none;
    color:rgb(230, 69, 69);
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(31, 31, 31, 0.658);
    text-transform: uppercase;
}

nav a:hover,
nav a.active{
    color: #15c6e6;
    transition: ease-in 0.1s;
    
}

.toggler:checked ~ nav ul{
    transition: all 0.3s;
    left:0;

}
#toggler:checked ~ .menu-btn i:before{
    content:"\f00d";}

.menu-btn{
    position : absolute;
    font-size: 35px;
    top: 0;
    right:0;
    margin-right:  16px;
    height: 100%;
    display: flex;
    align-items: center;
}


@media screen and (min-width : 970px){
    .menu-btn{
        display: none;
    }
    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(700px, 3fr);

    }
    nav{
        display: flex;
        grid-column: 3/4;
        justify-content: flex-end;
        align-items: center;
        margin-right: 30px;

    }
    nav ul{
        all: unset;
        list-style: none;
        display: flex;
        
        
    }
}


