    /* Font Title 'Bangers'*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

    /* Font Paragraph 'Quicksand'*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


/*
div {
    border: 2px green dashed;
}
*/


:root {
    --main-color: #FA8072;
    --secondary-color: #CD5C5C;
    --main-font: 'Bangers';
    --third-color: black;
    --secondary-font: 'Quicksand';
}

body {
    margin-left: 0;
    margin-right: 0;
}

p {
    font-family: var(--secondary-font), Arial, sans-serif;
}

#banner-stream {
	background: url('../src/img/banner-stream.jpg');
	background-size: cover;
    border-radius: 5px;
    background-attachment: fixed;	
    background-position: center;	
    background-repeat: no-repeat;	
}

#banner {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
    height: 400px;
	
	border-radius: 6px;
}

.banner-title {
    font-family: var(--main-font), Arial, sans-serif; 
    border-radius: 5px;
	padding: 10px 20px 10px 20px;
	background-color: rgba(24,24,24,0.8);
	color: var(--main-color);
    font-size: 2em;
    text-align: center;
}

h2 {
    font-family: var(--main-font), Arial, sans-serif;
    color: var(--secondary-color);
}

#intro-stream {
    text-align: center;
    margin: 70px 20px 70px 20px;
}


#carp-icon {
    height: 25px;
    width: 25px;
}

#twitch-embed {
    text-align: center;
}
