

  body {
    margin: 0px;
    padding: 0px;
  }



  h1 { color: #FA8072;
    font-family: 'Bangers',sans-serif;
    text-align: center;
  }



  .title-background {
    color: rgba(150, 49, 49, 0.5);
    letter-spacing: 50px;
    background-color: rgba(24, 24, 24, 0.8);
    padding:  10px 20px 10px 20px;



  }

  
  
  .parallax {    /* The image used */
    background-image: url("../src/img/montrealcompet.jpg");    /* Set a specific height */
    height: 400px;    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    display: flex;
    justify-content: center;
    align-items: center;
  }

 .cardEvent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
.cardArticle {
    border-radius: 10px;
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: line;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
.cardPic {
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
    background-image: url(../src/img/montrealcompet.jpg);
    height: 400px;
    width: 100%;
  }
.cardBodybis {
    padding: 10px 20px;
  }
.cardTitlebis {
    margin: 10px 0px;
    text-align: center;
    font-size: 15px;
    color: var(--third-color);
    font-family: var(--secondary-font);
  }
.cardButtonbis {
    border: none;
    border-radius: 10px;
    height: 50px;
    background-color: lightblue;
    width: 100%;
}

.cardTexte {
  font-size: 20px;
}